---
http_interactions:
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/TaxCloud.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://taxcloud.net"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://taxcloud.net"><env:Body><ins0:GetTICsByGroup><ins0:ticGroup>3</ins0:ticGroup><ins0:apiLoginID>api-login-id</ins0:apiLoginID><ins0:apiKey>api-key</ins0:apiKey></ins0:GetTICsByGroup></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://taxcloud.net/GetTICsByGroup"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetTICsByGroupResponse
        xmlns="http://taxcloud.net"><GetTICsByGroupResult><ResponseType>OK</ResponseType><Messages
        /><TICs><TIC><TICID>20080</TICID><Description>School art supply</Description></TIC><TIC><TICID>20090</TICID><Description>School
        instructional material</Description></TIC><TIC><TICID>20100</TICID><Description>School
        computer supply</Description></TIC></TICs></GetTICsByGroupResult></GetTICsByGroupResponse></soap:Body></soap:Envelope>
  recorded_at: Sun, 25 Nov 2012 16:50:28 GMT
recorded_with: VCR 2.3.0
