---
http_interactions:
- request:
    method: get
    uri: https://api.taxcloud.com/1.0/?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Strict-Transport-Sequrity:
      - max-age=7776000
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://taxcloud.net\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://taxcloud.net\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">TaxCloud Web Service</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://taxcloud.net\">\r\n
        \     <s:element name=\"Health\">\r\n        <s:complexType />\r\n      </s:element>\r\n
        \     <s:element name=\"HealthResponse\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"HealthResult\"
        type=\"tns:HttpStatusCode\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:simpleType name=\"HttpStatusCode\">\r\n        <s:restriction
        base=\"s:string\">\r\n          <s:enumeration value=\"Continue\" />\r\n          <s:enumeration
        value=\"SwitchingProtocols\" />\r\n          <s:enumeration value=\"OK\" />\r\n
        \         <s:enumeration value=\"Created\" />\r\n          <s:enumeration
        value=\"Accepted\" />\r\n          <s:enumeration value=\"NonAuthoritativeInformation\"
        />\r\n          <s:enumeration value=\"NoContent\" />\r\n          <s:enumeration
        value=\"ResetContent\" />\r\n          <s:enumeration value=\"PartialContent\"
       [...]
- request:
    method: post
    uri: https://api.taxcloud.com/1.0/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://taxcloud.net"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><env:Body><tns:VerifyAddress><tns:address1>888
        6th Ave</tns:address1><tns:address2 xsi:nil="true"/><tns:city>New York</tns:city><tns:state>New
        York</tns:state><tns:zip5>10001</tns:zip5><tns:zip4 xsi:nil="true"/><tns:uspsUserID>usps-username</tns:uspsUserID><tns:apiLoginID>api-login-id</tns:apiLoginID><tns:apiKey>api-key</tns:apiKey></tns:VerifyAddress></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://taxcloud.net/VerifyAddress"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Strict-Transport-Sequrity:
      - max-age=7776000
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><VerifyAddressResponse
        xmlns="http://taxcloud.net"><VerifyAddressResult><Address1>888 6th Ave</Address1><City>New
        York</City><State>NY</State><Zip5>10001</Zip5><Zip4>3502</Zip4><rdi>Commercial</rdi><ErrNumber>0</ErrNumber></VerifyAddressResult></VerifyAddressResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 12 Dec 2023 14:19:29 GMT
recorded_with: VCR 6.2.0
