---
http_interactions:
- request:
    method: get
    uri: https://api.taxcloud.net/1.0/?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://taxcloud.net\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://taxcloud.net\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\n  <wsdl:documentation xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">TaxCloud
        Web Service</wsdl:documentation>\n  <wsdl:types>\n    <s:schema elementFormDefault=\"qualified\"
        targetNamespace=\"http://taxcloud.net\">\n      <s:element name=\"VerifyAddress\">\n
        \       <s:complexType>\n          <s:sequence>\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"uspsUserID\" type=\"s:string\" />\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"address1\" type=\"s:string\" />\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"address2\" type=\"s:string\" />\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"city\" type=\"s:string\" />\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"state\" type=\"s:string\" />\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"zip5\" type=\"s:string\" />\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"zip4\" type=\"s:string\" />\n          </s:sequence>\n
        \       </s:complexType>\n      </s:element>\n      <s:element name=\"VerifyAddressResponse\">\n
        \       <s:complexType>\n          <s:sequence>\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"VerifyAddressResult\" type=\"tns:VerifiedAddress\"
        />\n          </s:sequence>\n        </s:complexType>\n      </s:element>\n
        \     <s:complexType name=\"VerifiedAddress\">\n        <s:complexContent
        mixed=\"false\">\n          <s:extension base=\"tns:Address\">\n            <s:sequence>\n
        \             <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ErrNumber\"
        type=\"s:string\" />\n              <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"ErrDescription\" type=\"s:string\" />\n            </s:sequence>\n
        \         </s:extension>\n        </s:complexContent>\n      </s:complexType>\n
        \     <s:complexType name=\"Address\">\n        <s:sequence>\n          <s:element
        minOccurs=[...]
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/TaxCloud.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://taxcloud.net"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://taxcloud.net"><env:Body><ins0:VerifyAddress><wsdl:apiLoginId>api-login-id</wsdl:apiLoginId><wsdl:apiKey>api-key</wsdl:apiKey><ins0:uspsUserID>usps-username</ins0:uspsUserID><ins0:address1>10001
        Test Street</ins0:address1><ins0:address2 xsi:nil="true"/><ins0:city>New York</ins0:city><ins0:state>New
        York</ins0:state><ins0:zip5>99999</ins0:zip5><ins0:zip4 xsi:nil="true"/></ins0:VerifyAddress></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://taxcloud.net/VerifyAddress"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><VerifyAddressResponse
        xmlns="http://taxcloud.net"><VerifyAddressResult><ErrNumber>-2147219399</ErrNumber><ErrDescription>Invalid
        Zip Code.  </ErrDescription></VerifyAddressResult></VerifyAddressResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 23 Nov 2012 15:41:40 GMT
recorded_with: VCR 2.3.0
